
doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Portal app')
		meta(name='author', content='GodwinGabriel')
		link(rel='apple-touch-icon', href='favicons.png')
		title= title
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/portal.css' media="screen, print")
		link(href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600|Lobster|Titillium+Web" rel="stylesheet")
		//script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	body
		each member in members
			.col-sm-10.col-sm-offset-1(style='border:1px solid #ccc;padding:0px')
				header.header.col-sm-12
					#logo: img.pull-left(src="/images/rccg.png", alt="logo" style='width:80px;height:80px;margin-top:20px;')
					h3.text-center(style='margin-bottom:0px;') The Redeemed Christian Church Of God
					h3.text-center(style='margin-top:5px;') Ebonyi Province 1
					h4.text-center Annual Provincial Youth Convention 2018
					h5.text-center ... God's end time army
					hr
					h3.text-center REGISTRATION DETAILS
				.content.col-sm-12.clearfix
					.col-sm-10.col-sm-offset-1
						if(member == null)
							h3.text-danger Sorry, you have not yet registered
							button: a(href="/portal/register") Register Now
						else
							.passport.pull-right(style='background:purple;width:100px;height:100px;')
								img(src=member.imgSrc, alt="passport" style='width:100px;height:100px;')
							.table-responsive(style='padding:0px;border-top:0px solid grey;')
								table.table
									tbody
										tr
											td Name
											td #{member.name}
										tr
											td Phone
											td #{member.phone}
										tr
											td RegNo
											td #{member.regNo}
										tr
											td Parish
											td #{member.parish}
										tr
											td Area
											td #{member.area}
										tr
											td Zone
											td #{member.zone}
										//tr
											td Workshop Choice
											td #{member.interest}
							.button.btn.btn-default#print_form Print
				footer.foote.col-sm-12
					p.text-center Copyright &copy 2018 rccgebonyiprovince1. All rights reserved.
			script(src='/javascripts/jquery-3.2.0.js')
			//script(src='/javascripts/index.js')
			script.
				var height1 = $('header').outerHeight()
				var height2 = $('footer').outerHeight()
				var height3 = $(window).height()
				$('.content').css({minHeight:height3 - height2 - height1})
				$('#print_form').click(function(){
					window.print()
				})
